<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgk1jTDXS5_-YmO3qjo3DvSvdoCgsv6r0</string>
	<key>GCM_SENDER_ID</key>
	<string>595898530795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotVendor</string>
	<key>PROJECT_ID</key>
	<string>checkingemail-8a27e</string>
	<key>STORAGE_BUCKET</key>
	<string>checkingemail-8a27e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595898530795:ios:0c9b399e88a6a6391337ae</string>
	<key>DATABASE_URL</key>
	<string>https://checkingemail-8a27e-default-rtdb.firebaseio.com</string>
</dict>
</plist>